<html lang="en">
  <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  /><!-- /Added by HTTrack -->
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- SITE TITLE -->
    <!-- Primary Meta Tags -->
    <title>Dogestep.app - Web3 Fitness Mobile Application</title>
    <meta
      name="title"
      content="Dogestep.app - Web3 Fitness Mobile Application"
    />
    <meta
      name="description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="index.html" />
    <meta
      property="og:title"
      content="Dogestep.app - Web3 Fitness Mobile Application"
    />
    <meta
      property="og:description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />
    {{!-- TODO: change preview image --}}
    {{!-- <meta property="og:image" content="/assets/img/preview.png" /> --}}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="index.html" />
    <meta
      property="twitter:title"
      content="Dogestep.app - Web3 Fitness Mobile Application"
    />
    <meta
      property="twitter:description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />

    {{!-- TODO: change preview image --}}
    {{!-- <meta property="twitter:image" content="/assets/img/preview.png" /> --}}
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome CSS -->
    <script
      src="https://kit.fontawesome.com/7a7c80abc4.js"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      adroll_adv_id = "IRSJRTZJGJC5ZJRCN52FQN"; adroll_pix_id =
      "RT3UAU6RFRBMNO2Y22ZC3J"; adroll_version = "2.0"; (function(w, d, e, o, a)
      { w.__adroll_loaded = true; w.adroll = w.adroll || []; w.adroll.f = [
      'setProperties', 'identify', 'track' ]; var roundtripUrl =
      "https://s.adroll.com/j/" + adroll_adv_id + "/roundtrip.js"; for (a = 0; a
      < w.adroll.f.length; a++) { w.adroll[w.adroll.f[a]] =
      w.adroll[w.adroll.f[a]] || (function(n) { return function() {
      w.adroll.push([ n, arguments ]) } })(w.adroll.f[a]) } e =
      d.createElement('script'); o = d.getElementsByTagName('script')[0];
      e.async = 1; e.src = roundtripUrl; o.parentNode.insertBefore(e, o);
      })(window, document); adroll.track("pageView");
    </script>
    
    <!--magnific-popup Css-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <!---owl carousel Css-->
    <link
      rel="stylesheet"
      href="/assets/owlcarousel/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/owlcarousel/css/owl.theme.default.min.css"
    />
    <!--swiper Css-->
    <link rel="stylesheet" href="/assets/css/swiper.css" />
    <!--animate Css-->
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <!--odometer.min Css-->
    <link rel="stylesheet" href="/assets/css/odometer.min.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't gallery if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Page Wrapper -->
    <div class="page-wrapper">
      <!-- START PRELOADER -->
      <div class="atf-preloader">
        <div class="atf-status">
          <div class="atf-status-mes"></div>
        </div>
      </div>
      <!--  END PRELOADER -->

      <!-- START back-to-top -->
      <button class="atf-scroll-top atf-back-to-top open" data-targets="html">
        <i class="fa fa-angle-up atf-scrollup-icon"></i>
      </button>
      <!-- END back-to-top-->

      <!-- START NAVBAR -->
      <header>
        <nav
          class="navbar navbar-navs navbar-expend navbar-expand-md fixed-top"
          id="menu-top"
        >
          <div class="container">
            <a class="navbar-brand" href="/">
              <img src="/assets/img/logoWhite.png" alt="Logo" />
            </a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#navbarDefault"
              aria-controls="navbarDefault"
              aria-expanded="false"
              aria-label="Toggle navigation"
              data-bs-toggle="collapse"
              data-bs-target="#navbarDefault"
              aria-controls="navbarDefault"
            >
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navbarDefault"
            >
              <ul class="navbar-nav ml-auto">
                <li class="menu-nav">
                  <a class="nav-link page-scroll active" href="/">Home</a>
                </li>
                <li class="menu-nav">
                  <a class="nav-link page-scroll" href="/marketplace">Marketplace</a>
                </li>
                <li class="menu-nav">
                  <a
                    class="nav-link page-scroll"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://docs.dogestep.app/dogestep/game-modes"
                  >How to Play</a>
                </li>
                <li class="menu-nav">
                  <a
                    class="nav-link page-scroll"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://docs.dogestep.app/dogestep/overview"
                  >Whitepaper</a>
                </li>
                <li class="menu-nav">
                  <a
                    class="nav-link page-scroll"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://docs.dogestep.app/dogestep/faq"
                  >FAQs</a>
                </li>
              </ul>
            </div>
          </div>
          <!---END CONTAINER -->
        </nav>
      </header>
      <!-- END NAVBAR -->

      {{{body}}}

      <!-- FOOTER SECTION START-->
      <footer class="atf-footer-area">

        <div class="atf-section-padding pb-0">
          <div class="container">
            <div class="row atf-mailchamp-border clearfix">
              <div
                class="col-lg-6 col-md-8 col-12 offset-lg-3 offset-md-2 atf-mailchamp-headding atf-mailchamp-subscribe"
              >
                {{! <h2 class="mb-3 text-center">Subcribe to Newletter Now</h2>
                <form class="form-group" id="mc-form">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="Your Email"
                    required="required"
                  />
                  <button
                    type="submit"
                    id="subscribe-button"
                    class="btn atf-themes-btn"
                  >
                    <i class="fab fa-telegram-plane"></i>
                  </button>
                  <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                  <br />
                  <label class="atf-subscription-label" for="email"></label>
                </form> }}
              </div>
              <!---END COL -->
            </div>
            <!---END COL -->

            <div class="atf-footer-top mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                  <h5><a class="navbar-brand" href="/">
                      <img src="/assets/img/logoWhite.png" alt="Logo" />
                    </a></h5>
                  <p i18n="home-content" style="color: #fff">
                    World's First Move-To-Earn App With Virtual Doge
                    <br />
                    Exercise, Socialize, Play and Earn
                  </p>
                </div>
                <!---END COL -->

                <!-- <div class="col-lg-2 col-md-6 col-12 atf-footer-link">
                  <h5>Quick Links</h5>
                  <ul class="atf-list-menu">
                    <li>
                      <a href="#"
                        ><i class="fa fa-angle-right mr-2"></i>Get Stared</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-angle-right mr-2"></i>Our Team</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-angle-right mr-2"></i>About Us</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-angle-right mr-2"></i>Need Helps</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
                      >
                    </li>
                  </ul>
                </div> -->
                <!---END COL -->

                <div class="col-lg-4 col-md-6 col-12 atf-footer-link">
                  <h5>Follow Us</h5>
                  <div class="atf-footer-social-icon mt-1">
                    <a
                      href="https://twitter.com/_dogestepApp"
                      class="icon"
                      target="_blank"
                    >
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a
                      href="https://t.me/dogestepapp"
                      class="icon"
                      target="_blank"
                    >
                      <i class="fab fa-telegram"></i>
                    </a>
                    <a
                      href="https://medium.com/@dogestepapp"
                      class="icon"
                      target="_blank"
                    >
                      <i class="fab fa-medium"></i>
                    </a>
                  </div>
                </div>
                <!---END COL -->
              </div>
              <!---END ROW -->
            </div>
            <!---END SINGLE FOOTER -->
          </div>
          <!---END CONTAINER -->

          <div class="atf-footer-boottom text-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <p>&copy;Copyright 2022 - All Right Reserved</p>
              </div>
              <!---END COL -->
            </div>
            <!---END ROW -->
          </div>
          <!-- FOOTER SECTION END-->
        </div>
        <!---END OVERLAY -->
      </footer>
      <!---END FOOTER -->
    </div>
    <!-- PAGE WRAPPER END-->

    <script>
      function myFunction() { /* Get the text field */ var copyText =
      document.getElementById("myInput"); /* Select the text field */
      copyText.select(); copyText.setSelectionRange(0, 99999); /* For mobile
      devices */ /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value); /* Alert the copied text */
      alert("Copied: " + copyText.value); }
    </script>

    <!-- Latest jQuery -->
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- modernizer JS -->
    <script src="/assets/js/modernizr.custom.js"></script>
    <!-- owl-carousel min js  -->
    <script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- tilt js -->
    <script src="/assets/js/tilt.jquery.js"></script>
    <!-- magnific-popup js -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- Counter js -->
    <script src="/assets/js/jquery.counterup.js"></script>
    <!-- waypoints js -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- odometer js -->
    <script src="/assets/js/odometer.min.js"></script>
    <!-- jquery.appear js -->
    <script src="/assets/js/jquery.appear.min.js"></script>
    <!-- easing js -->
    <script src="/assets/js/easing.min.js"></script>
    <!-- wow js -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- vendor js -->
    <script src="/assets/js/swiper.js"></script>
    <!-- ajaxchimp js -->
    <script src="/assets/js/ajaxchimp.min.js"></script>
    <!-- form-contact js -->
    <script src="/assets/js/form-contact.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <!-- language js -->
    {{!-- countdown  --}}
    <script src="/assets/js/countdown.js"></script>
    <script
      src="https://cdn.bootcss.com/js-cookie/latest/js.cookie.min.js"
    ></script>
    <script src="/assets/js/jquery.i18n.js"></script>
    <script src="/assets/js/language.js"></script>
  </body>

</html>