<!DOCTYPE html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <!--<![endif]-->

  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    
     <!-- Primary Meta Tags -->
    <title>Dogestep.app - Web3 Fitness Mobile Application</title>
    <meta name="title" content="Dogestep.app - Web3 Fitness Mobile Application" />
    <meta
      name="description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="index.html" />
    <meta
      property="og:title"
      content="Dogestep.app - Web3 Fitness Mobile Application"
    />
    <meta
      property="og:description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />
    {{!-- todo: change preview image --}}
    {{!-- <meta property="og:image" content="/assets/img/preview.png" /> --}}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="index.html" />
    <meta
      property="twitter:title"
      content="Dogestep.app - Web3 Fitness Mobile Application"
    />
    <meta
      property="twitter:description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />


    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css" />


    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/dashboard.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/favicon/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon/favicon.png" />
  </head>

  <body class="body header-fixed">
    <!-- preloade -->
    <div class="preload preload-container">
      <div class="preload-logo"></div>
    </div>
    <!-- /preload -->

    <div id="wrapper">
      <div id="page" class="clearfix">
        <header id="header_main" class="header_1 js-header">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-12">
                <div id="site-header-inner">
                  <div class="wrap-box flex">
                    <div id="site-logo" class="clearfix">
                      <div id="site-logo-inner">
                        <a href="/" rel="home" class="main-logo">
                          <img
                            id="logo_header"
                            src="/assets/img/logoWhite.png"
                            alt="nft-gaming"
                            width="133"
                            height="56"
                            data-retina="/assets/img/logoWhite.png"
                            data-width="133"
                            data-height="56"
                          />
                        </a>
                      </div>
                    </div>
                    <div class="mobile-button"><span></span></div>
                    <!-- /.mobile-button -->
                    <nav id="main-nav" class="main-nav justify-content-end">
                      <ul id="menu-primary-menu" class="menu">
                        <li
                          class="menu-item current-menu-item"
                        >
                          <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="menu-item ">
                          <a class="nav-link" href="#">Marketplace</a>
                        </li>
                        <li class="menu-item ">
                          <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://docs.dogestep.app/dogestep/overview">Whitepaper</a>
                        </li>
                        <li class="menu-item ">
                          <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://docs.dogestep.app/dogestep/faq">FAQs</a>
                        </li>
                      </ul>
                    </nav>
                    <!-- /#main-nav -->
                    <div class="flat-search-btn flex">
                      <div class="sc-btn-top mg-r-12" id="site-header">
                        <a
                          href="#"
                          id="connectbtn"
                          class="sc-button header-slider style style-1 wallet fl-button pri-1"
                          ><span>Wallet connect </span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>


       {{{body}}}

        
      <footer class="atf-footer-area">
       
        <div class="atf-section-padding pb-0">
          <div class="container">
            <div class="row atf-mailchamp-border clearfix">
              <div
                class="col-lg-6 col-md-8 col-12 offset-lg-3 offset-md-2 atf-mailchamp-headding atf-mailchamp-subscribe"
              >
              </div>
              <!--- END COL -->
            </div>
            <!--- END COL -->

            <div class="atf-footer-top mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 ">
                    <h5><a class="navbar-brand" href="/"> <img src="/assets/img/logoWhite.png"  alt="Logo"/> </a></h5>
                    <p i18n="home-content" style="color: #fff">
                      World's First Move-To-Earn App With Virtual Doge
                      <br> Exercise, Socialize, Play and Earn
                    </p>
                </div>
                <!--- END COL -->

                <div class="col-lg-4 col-md-6 col-12 atf-footer-link">
                  <h5>Follow Us</h5>
                  <div class="atf-footer-social-icon mt-1">
                    <a
                      href="https://twitter.com/dogestep_app"
                      class="icon"
                      target="_blank"
                    >
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a
                      href="https://t.me/dogestepapp"
                      class="icon"
                      target="_blank"
                    >
                      <i class="fab fa-telegram"></i>
                    </a>
                  </div>
                </div>
                <!--- END COL -->
              </div>
              <!--- END ROW -->
            </div>
            <!--- END SINGLE FOOTER -->
          </div>
          <!--- END CONTAINER -->

          <div class="atf-footer-boottom text-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <p>&copy;Copyright 2022 - All Right Reserved</p>
              </div>
              <!--- END COL -->
            </div>
            <!--- END ROW -->
          </div>
          <!-- FOOTER SECTION END-->
        </div>
        <!--- END OVERLAY -->
      </footer>
      </div>

      <!-- /#page -->
      <!-- Modal Popup Bid -->
      <div
        class="modal fade popup"
        id="popup_bid_success"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body space-y-20 pd-40">
              <h3 class="text-center">Your Bidding Successfuly Added</h3>
              <p class="text-center">
                your bid <span class="price color-popup">(4ETH) </span> has been
                listing to our database
              </p>
              <a href class="btn btn-primary"> Watch the listings</a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade popup"
        id="popup_bid"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body space-y-20 pd-40">
              <h4>Countdown to Minting!!!</h4>
                <div id="countdown">
                  <ul>
                    <li><div id="days"></div>days</li>
                    <li><div id="hours"></div>Hours</li>
                    <li><div id="minutes"></div>Minutes</li>
                    <li><div id="seconds"></div>Seconds</li>
                  </ul>
                </div>
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->

    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script src="/assets/dashboard/js/jquery.min.js"></script>
    <script src="/assets/dashboard/js/main.js"></script>
    <script src="/assets/dashboard/js/jquery.easing.js"></script>
    <script src="/assets/dashboard/js/popper.min.js"></script>
    <script src="/assets/dashboard/js/bootstrap.min.js"></script>
    <script src="/assets/dashboard/js/wow.min.js"></script>
    <script src="/assets/dashboard/js/plugin.js"></script>
    <script src="/assets/dashboard/js/count-down.js"></script>
    <script src="/assets/dashboard/js/shortcodes.js"></script>
    <script src="/assets/dashboard/js/swiper-bundle.min.js"></script>
    <script src="/assets/dashboard/js/swiper.js"></script>
  </body>

</html>
