<!DOCTYPE html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <!--<![endif]-->

  <!-- Mirrored from demothemesflat.com/axies/home2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Jun 2022 09:26:22 GMT -->
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    
     <!-- Primary Meta Tags -->
    <title>Dogestep.app - Web3 Fitness Mobile Application</title>
    <meta name="title" content="Dogestep.app - Web3 Fitness Mobile Application" />
    <meta
      name="description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="index.html" />
    <meta
      property="og:title"
      content="Dogestep.app - Web3 Fitness Mobile Application"
    />
    <meta
      property="og:description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />
    {{!-- todo: change preview image --}}
    {{!-- <meta property="og:image" content="/assets/img/preview.png" /> --}}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="index.html" />
    <meta
      property="twitter:title"
      content="Dogestep.app - Web3 Fitness Mobile Application"
    />
    <meta
      property="twitter:description"
      content="The first move-to-earn app with virtual doge. Earn while building a healthy habit with your virtual doge"
    />


    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css" />


    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/dashboard.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/favicon/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon/favicon.png" />
  </head>

  <body class="body header-fixed">
    <!-- preloade -->
    <div class="preload preload-container">
      <div class="preload-logo"></div>
    </div>
    <!-- /preload -->

    <div id="wrapper">
      <div id="page" class="clearfix">
        <header id="header_main" class="header_1 js-header">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-12">
                <div id="site-header-inner">
                  <div class="wrap-box flex">
                    <div id="site-logo" class="clearfix">
                      <div id="site-logo-inner">
                        <a href="/" rel="home" class="main-logo">
                          <img
                            id="logo_header"
                            src="/assets/img/logoWhite.png"
                            alt="nft-gaming"
                            width="133"
                            height="56"
                            data-retina="/assets/img/logoWhite.png"
                            data-width="133"
                            data-height="56"
                          />
                        </a>
                      </div>
                    </div>
                    <div class="mobile-button"><span></span></div>
                    <!-- /.mobile-button -->
                    <nav id="main-nav" class="main-nav justify-content-end">
                      <ul id="menu-primary-menu" class="menu">
                        <li
                          class="menu-item current-menu-item"
                        >
                          <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="menu-item ">
                          <a class="nav-link" href="#">Marketplace</a>
                        </li>
                        <li class="menu-item ">
                          <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://docs.dogestep.app/dogestep/overview">Whitepaper</a>
                        </li>
                        <li class="menu-item ">
                          <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://docs.dogestep.app/dogestep/faq">FAQs</a>
                        </li>
                      </ul>
                    </nav>
                    <!-- /#main-nav -->
                    <div class="flat-search-btn flex">
                      <div class="sc-btn-top mg-r-12" id="site-header">
                        <a
                          href="#"
                          id="connectbtn"
                          class="sc-button header-slider style style-1 wallet fl-button pri-1"
                          ><span>Wallet connect </span></a
                        >
                      </div>

                      <div class="admin_active" id="header_admin">
                        <div class="header_avatar">
                          <div class="popup-notification">
                            <div class="notification">
                              <span class="number">3</span>
                              <svg
                                width="19"
                                height="22"
                                viewBox="0 0 19 22"
                                fill="#fff"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M18.4915 15.495L17.209 13.65C17.0339 13.3992 16.9397 13.1009 16.939 12.795V7.5C16.939 5.51088 16.1488 3.60322 14.7423 2.1967C13.3357 0.790176 11.4281 0 9.43896 0C7.44984 0 5.54218 0.790176 4.13566 2.1967C2.72914 3.60322 1.93896 5.51088 1.93896 7.5V12.795C1.93824 13.1009 1.84403 13.3992 1.66896 13.65L0.386463 15.495C0.192273 15.7102 0.064576 15.977 0.018815 16.2632C-0.0269461 16.5494 0.0111884 16.8427 0.128607 17.1077C0.246026 17.3727 0.437699 17.598 0.680449 17.7563C0.923199 17.9147 1.20663 17.9993 1.49646 18H5.76396C5.9361 18.8477 6.39601 19.6099 7.06577 20.1573C7.73553 20.7047 8.57394 21.0038 9.43896 21.0038C10.304 21.0038 11.1424 20.7047 11.8122 20.1573C12.4819 19.6099 12.9418 18.8477 13.114 18H17.3815C17.6713 17.9993 17.9547 17.9147 18.1975 17.7563C18.4402 17.598 18.6319 17.3727 18.7493 17.1077C18.8667 16.8427 18.9049 16.5494 18.8591 16.2632C18.8133 15.977 18.6856 15.7102 18.4915 15.495ZM9.43896 19.5C8.97475 19.4987 8.52231 19.3538 8.14366 19.0853C7.76501 18.8168 7.4787 18.4377 7.32396 18H11.554C11.3992 18.4377 11.1129 18.8168 10.7343 19.0853C10.3556 19.3538 9.90317 19.4987 9.43896 19.5ZM1.49646 16.5C1.53036 16.4685 1.56056 16.4333 1.58646 16.395L2.89896 14.505C3.24909 14.0034 3.43751 13.4067 3.43896 12.795V7.5C3.43896 5.9087 4.0711 4.38258 5.19632 3.25736C6.32154 2.13214 7.84766 1.5 9.43896 1.5C11.0303 1.5 12.5564 2.13214 13.6816 3.25736C14.8068 4.38258 15.439 5.9087 15.439 7.5V12.795C15.4404 13.4067 15.6288 14.0034 15.979 14.505L17.2915 16.395C17.3174 16.4333 17.3476 16.4685 17.3815 16.5H1.49646Z"
                                  fill="white"
                                />
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>


       {{{body}}}

        
      <footer class="atf-footer-area">
       
        <div class="atf-section-padding pb-0">
          <div class="container">
            <div class="row atf-mailchamp-border clearfix">
              <div
                class="col-lg-6 col-md-8 col-12 offset-lg-3 offset-md-2 atf-mailchamp-headding atf-mailchamp-subscribe"
              >
              <!--- END COL -->
            </div>
            <!--- END COL -->

            <div class="atf-footer-top mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 ">
                    <h5><a class="navbar-brand" href="/"> <img src="/assets/img/logoWhite.png"  alt="Logo"/> </a></h5>
                    <p i18n="home-content" style="color: #fff">
                      World's First Move-To-Earn App With Virtual Doge
                      <br> Exercise, Socialize, Play and Earn
                    </p>
                </div>
                <!--- END COL -->

                <div class="col-lg-4 col-md-6 col-12 atf-footer-link">
                  <h5>Follow Us</h5>
                  <div class="atf-footer-social-icon mt-1">
                    <a
                      href="https://twitter.com/DogeStepApp"
                      class="icon"
                      target="_blank"
                    >
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a
                      href="https://t.me/dogestepapp"
                      class="icon"
                      target="_blank"
                    >
                      <i class="fab fa-telegram"></i>
                    </a>
                  </div>
                </div>
                <!--- END COL -->
              </div>
              <!--- END ROW -->
            </div>
            <!--- END SINGLE FOOTER -->
          </div>
          <!--- END CONTAINER -->

          <div class="atf-footer-boottom text-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <p>&copy;Copyright 2022 - All Right Reserved</p>
              </div>
              <!--- END COL -->
            </div>
            <!--- END ROW -->
          </div>
          <!-- FOOTER SECTION END-->
        </div>
        <!--- END OVERLAY -->
      </footer>
      </div>

      <!-- /#page -->
      <!-- Modal Popup Bid -->
      <div
        class="modal fade popup"
        id="popup_bid_success"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body space-y-20 pd-40">
              <h3 class="text-center">Your Bidding Successfuly Added</h3>
              <p class="text-center">
                your bid <span class="price color-popup">(4ETH) </span> has been
                listing to our database
              </p>
              <a href class="btn btn-primary"> Watch the listings</a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade popup"
        id="popup_bid"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body space-y-20 pd-40">
              <h3>Coming soon</h3>

            <div class="featured-countdown text-center" style="margin-top: 15px;">
              <span class="slogan"></span>
              <span
                style="font-size: 24px;"
                class="js-countdown"
                data-timer="200000"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->

    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script src="/assets/dashboard/js/jquery.min.js"></script>
    <script src="/assets/dashboard/js/main.js"></script>
    <script src="/assets/dashboard/js/jquery.easing.js"></script>
    <script src="/assets/dashboard/js/popper.min.js"></script>
    <script src="/assets/dashboard/js/bootstrap.min.js"></script>
    <script src="/assets/dashboard/js/wow.min.js"></script>
    <script src="/assets/dashboard/js/plugin.js"></script>
    <script src="/assets/dashboard/js/count-down.js"></script>
    <script src="/assets/dashboard/js/shortcodes.js"></script>
    <script src="/assets/dashboard/js/swiper-bundle.min.js"></script>
    <script src="/assets/dashboard/js/swiper.js"></script>
  </body>

</html>
