 <!-- START HOME -->
      <section
        id="home"
        class="atf-hero-area atf-cover-bg atf-align-items-details atf-width-area"
      >
        <div class="atf-round-area d-none d-lg-block"></div>
        <div class="container">
          <div class="row atf-content-details align-items-center">
            <!--LEFT COL-->
            <div
              class="col-md-7 col-lg-7 col-12 atf-single-details text-lg-left"
            >
              <h2
                class="mb-0 d-block d-lg-block text-center text-md-left"
                i18n="home-title"
              >
                MovingOn Finance
              </h2>
              <p class="mr-lg-5 text-center text-md-left" i18n="home-content">
                Web3 mobile application integrates Move-To-Earn mechanism
                through Walking, Running, Cycling and Driving.
              </p>
              <!-- Main-btn -->
              <div class="atf-one__btn-wrap row mx-auto">
                <a
                  href="https://www.pinksale.finance/#/launchpad/0x2946B7CDEa3Ca82a6B090A8dC50C98b343814e52?chain=BSC"
                  class="atf-one__btn home-btn ml-3"
                  target="_blank"
                >
                  <b i18n="buy">Join Fairlaunch</b>
                </a>

                <a
                  href="https://docs.movingon.finance/"
                  class="atf-one__btn home-btn ml-3"
                  target="_blank"
                >
                  <b i18n="whitepaper">Whitepaper</b>
                </a>

                <a
                  href="https://app.movingon.finance/"
                  class="atf-one__btn home-btn ml-3"
                  target="_blank"
                >
                  <b>Launch App</b>
                </a>
              </div>
              <div class="atf-one__btn-wrap mt-3">
                <h3 class="text-light">Audited By</h3>
              </div>
              <div class="atf-one__btn-wrap row mx-auto">
                <div class="audit-btn">
                  <a
                    href="https://github.com/Rugfreecoins/Smart-Contract-Audits/blob/main/MovingOn Finance Token Audit.pdf"
                    target="_blank"
                    ><img
                      src="assets/img/home/rugfreecoins.png"
                      alt=""
                      class="audit"
                  /></a>
                </div>
                <div class="audit-btn">
                  <a
                    href="https://github.com/SafuAudit/smart-contract-audits/blob/main/MovingOnFinance.pdf"
                    target="_blank"
                    ><img
                      src="assets/img/home/safuaudit.png"
                      alt=""
                      class="audit"
                  /></a>
                </div>
              </div>
            </div>
            <!--- END COL -->

            <!--RIGHT COL-->
            <div
              class="col-md-7 col-lg-5 col-12 atf_home_img atf-banner-img-one text-center"
            >
              <div
                class="atf-img-inner atf-banner-img-inner wow fadeInRight"
                data-wow-duration="2s"
                data-wow-delay="0.4s"
                data-wow-offset="0"
              >
                <div class="home-image-box">
                  <img src="assets/img/home/bg.png" alt="App" class="card-s" />
                </div>
              </div>
            </div>
            <!--- END COL -->
          </div>
          <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
      </section>
<!-- END HOME -->
