<section id="mobile" class="atf-about-area atf-section-padding atf-shape">
  <img class="atf-shape-one" src="assets/img/shape/shape1.png" alt="" />
  <div class="container mt-5">
    <div class="row clearfix">
      <div class="col-md-3 side-bar">
          <aside class="side-bar-content">
              <h3>Search</h3>
              <form action="" method="get" class="product-search">
                  <label for="search-field">Search For</label>
                  <input type="search" class="search-field" id="search-field" placeholder="Search...">
                  <button type="submit" value="Search"></button>
              </form>

              <div class="filter">
                <div class="filter-title">
                    <h3>Payment</h3>
                </div>
                <div class="filter-body">
                    <ul>
                        <li>
                            <input type="checkbox" id="filter-pay1" value="307">
                            <label for="filter-pay1">DSA</label>
                        </li>
                        <li>
                            <input type="checkbox" id="filter-pay1" value="307">
                            <label for="filter-pay1">BNB</label>
                        </li>
                    </ul>
                </div>

                <div class="filter-title">
                    <h3>NFT Items</h3>
                </div>
                <div class="filter-body">
                    <ul>
                        <li>
                            <input type="checkbox" id="filter-item1" value="307">
                            <label for="filter-item1">Doge</label>
                        </li>
                        <li>
                            <input type="checkbox" id="filter-item2" value="307">
                            <label for="filter-item1">Sneakers</label>
                        </li>
                    </ul>
                </div>

                <div class="filter-title">
                    <h3>NFT State</h3>
                </div>
                <div class="filter-body">
                    <ul>
                        <li>
                            <input type="checkbox" id="filter-state1" value="307">
                            <label for="filter-state1">Buy Now</label>
                        </li>
                        <li>
                            <input type="checkbox" id="filter-state2" value="307">
                            <label for="filter-state1">Lease</label>
                        </li>
                    </ul>
                </div>
              </div>
          </aside>
      </div>
      <div class="col-md-9">
          
      </div>
    </div>
    <!----->
  </div>
  <!---ANIAR -->
</section>