<section class="tf-section today-picks">
  <div class="themesflat-container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media">
            <a href="#"><img
                src="/assets/img/greyhound.png"
                alt="Image"
              /></a>
            <div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 10</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Greyhound"</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="/">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.5 BNB</h5>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media">
            <a href="#"><img
                src="/assets/img/doberman.png"
                alt="Image"
              /></a>
            <div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 50</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Doberman”</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="/">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.5 BNB</h5>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media" style="max-height: 169px">
            <a href="#"><img
                src="/assets/img/vizla.png"
                alt="Image"
              /></a><div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 45</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Vizla"</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="#">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.5 BNB</h5>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media">
            <a href="#"><img
                src="/assets/img/whitpet.png"
                alt="Image"
              /></a>
            <div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 150</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Whitpet"</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="/">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.5 BNB</h5>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media">
            <a href="#"><img
                src="/assets/img/sneaker.jpeg"
                alt="Image"
              /></a>
            <div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 2</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Sneakers</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="/">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.35 BNB</h5>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media">
            <a href="#"><img
                src="/assets/img/socks.jpeg"
                alt="Image"
              /></a>
            <div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 2</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Socks"</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="/">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.1 BNB</h5>
                <span>= $12.246</span>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media">
            <a href="#"><img
                src="/assets/img/watch.jpeg"
                alt="Image"
              /></a>
            <div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 201</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Watch"</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="/">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.1 BNB</h5>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="fl-item sc-card-product explode style2 mg-bt">
          <div class="card-media">
            <a href="#"><img
                src="/assets/img/bottle.jpeg"
                alt="Image"
              /></a>
            <div class="featured-countdown">
              <span class="slogan"></span>
              <span
                class="js-countdown"
                data-timer="289200"
                data-labels=" :  ,  : , : , "
              ></span>
            </div>
            <div class="button-place-bid">
              <a
                href="#"
                data-toggle="modal"
                data-target="#popup_bid"
                class="sc-button style-place-bid style bag fl-button pri-3"
              ><span>Coming soon</span></a>
            </div>
            <button class="wishlist-button heart">
              <span class="number-like"> 201</span>
            </button>
          </div>
          <div class="card-title">
            <h5>
              <a href="#">"Water Bottle"</a>
            </h5>
          </div>
          <div class="meta-info">
            <div class="author">
              <div class="avatar">
                <img src="/favicon/favicon.png" alt="Image" />
              </div>
              <div class="info">
                <span>Creator</span>
                <h6><a href="/">DogestepApp</a></h6>
              </div>
            </div>
            <div class="tags">bsc</div>
          </div>
          <div class="card-bottom style-explode">
            <div class="price">
              <span>Current Price</span>
              <div class="price-details">
                <h5>0.2 BNB</h5>
              </div>
            </div>
            <a href="#" class="view-history reload">View History</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

      {{! <div class="col-md-12 wrap-inner load-more text-center">
        <a
          href="#"
          id="loadmore"
          class="sc-button loadmore fl-button pri-3"
        ><span>Load More</span></a>
      </div> }}
    </div>

    <!--<img src="images/profile.jpg" alt="">-->
  </div>

  <div class="dash-content">
    
  </div>
</section>
