<nav>
  <div class="logo-name">
    <div class="logo-image">
     <img src="/assets/img/logoWhite.png"  alt="Logo"/> 
    </div>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li><a href="#">
          <i class="uil uil-files-landscapes"></i>
          <span class="link-name">Content</span>
        </a></li>
      <li><a href="#">
          <i class="uil uil-chart"></i>
          <span class="link-name">Analytics</span>
        </a></li>
    </ul>

    <ul class="logout-mode">

      <li class="mode">
        <a href="#">
          <i class="uil uil-moon"></i>
          <span class="link-name">Dark Mode</span>
        </a>

        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>

<<<<<<< HEAD
<section class="dashboard">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>

    <div class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search here..." />
=======
      {{!-- <div class="col-md-12 wrap-inner load-more text-center">
        <a
          href="#"
          id="loadmore"
          class="sc-button loadmore fl-button pri-3"
        ><span>Load More</span></a>
      </div> --}}
>>>>>>> change mode
    </div>

    <!--<img src="images/profile.jpg" alt="">-->
  </div>

  <div class="dash-content">
    
  </div>
</section>
